<%- include('includes/head.ejs', {permisos: permisos,  username:username}) %>
<%- include('includes/header.ejs') %>

        <div class="col mt-5">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-4">
                        <div id="account-form" class="card text-center p-4">
                            <div class="btn-group mb-3">
                                <button type="button" class="btn position-relative">
                                    <img src="/img/account.png" alt="Account" class="img-fluid">
                                </button>
                            </div>
                            <p class="card-text fs-4"> <%= username %> </p>
                            <button type="button" class="btn btn-primary mb-3" onclick="showEdit()">Cambiar contraseña</button>
                            <script>
                                function showEdit() {
                                    document.getElementById('edit').style.display = "";
                                    document.getElementById('save').style.display = "";
                                    }
                            </script>
                            <form action="/cuenta/edit" method="POST">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <div class="input-group mb-3" id="edit" style="display: none;">
                                    <label for="password" class="form-label">Debe contener 8 caracteres mínimo, 1 mayúscula, 1 caracter especial y 1 número.</label>
                                    <input type="password" class="form-control" id="password" name="password" aria-label="password" aria-describedby="button-addon1" required>
                                    <button class="btn btn-outline-secondary btn-lg" type="button" id="button-addon1" onclick="seePassword()">
                                        <i class="fa-solid fa-eye"></i>
                                    </button>
                                </div>
                                <button type="submit" class="btn btn-success" id="save" style="display: none;" disabled>Guardar contraseña</button>
                            </form>

                            <script>
                                document.getElementById("password").addEventListener("keyup", function() {
                                    var passwordInput = document.getElementById('password').value;
                                    var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
                                    if (regex.test(passwordInput)) {
                                        document.getElementById('save').removeAttribute("disabled");
                                    } else {
                                        document.getElementById('save').setAttribute("disabled", null);
                                    }
                                });

                                function seePassword() {
                                        var x = document.getElementById("password");
                                        if (x.type === "password") {
                                          x.type = "text";
                                        } else {
                                          x.type = "password";
                                        }
                                      }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('includes/sidebar.ejs') %>
  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c5614e6e6c.js" crossorigin="anonymous"></script>
  </body>
</html>