<!DOCTYPE html>
<html>
<head>
  <%- include('includes/head.ejs', {permisos: permisos}) %>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
    <%- include('includes/header.ejs') %>

<div class="col-md-9 m-auto">
    <div class="container mt-5">
        <h2 class="mb-4">Analiticas</h2>
        <div class="container mt-5">
            <div class="row">
              <div class="row">
                
                <!-- Card 1 -->
                <div class="col-md-6">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">Gráfico de Luuna</h5>
                          <select id="chartType1">
                              <option value="bar">Barras</option>
                              <option value="line">Linea</option>
                              <option value="scatter">Dispersión</option>
                          </select>
                          <canvas id="chart1"></canvas>
                      </div>
                  </div>
              </div>

                <!-- Card 2 -->
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Gráfico de Nooz</h5>
                      <canvas id="chart2"></canvas>
                    </div>
                  </div>
                </div>

                <!-- Card 3 -->
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Gráfico de Mappa</h5>
                      <p><%= analytics[0].PromedioCalificacionMensual %></p>
                      <canvas id="chart3"></canvas>
                    </div>
                  </div>
                </div>
                
                <%
                let promedios = [];
                analytics.forEach(item => {
                    promedios.push(item.PromedioCalificacionMensual);
                });
                
                let analyticsJSON = JSON.stringify(analytics); 
                %>
                
                <script>
                let analytics = JSON.parse('<%- analyticsJSON %>');
                
                let promedios = [];
                let meses = [];
                let nombresMeses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'];

                analytics.forEach(item => {
                    promedios.push(item.PromedioCalificacionMensual);
                    meses.push(nombresMeses[item.Mes - 1]);
                  });
                

                // Valores de los gráficos de Luuna
                const data1 = {
                  labels: meses,
                  datasets: [{
                    data: promedios,
                    backgroundColor: 'rgba(0, 0, 200, 0.2)',
                    borderColor: 'rgba(0, 0, 255, 1)',
                    borderWidth: 1,
                  }]
                };

                const config1 = {
                  type: 'bar', // Este valor será reemplazado por el valor del selector
                  data: data1,
                  options: {
                    scales: {
                      y: {
                        beginAtZero: true
                      }
                    }
                  }
                };

                // RENDERIZAR GRÁFICOS
                const chart1 = new Chart(
                  document.getElementById('chart1'),
                  config1
                );

                // Manejar el cambio de tipo de gráfico
                document.getElementById('chartType1').addEventListener('change', function() {
                  chart1.config.type = this.value;
                  chart1.update();
                });
              </script>
              </div>
      </div>
    </div>
</div>

</div>

<%- include('includes/sidebar.ejs') %>
</body>
</html>