<!DOCTYPE html>
<html>
<head>
  <%- include('includes/head.ejs', {permisos: permisos}) %>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <style src="../public/css/analiticas.css"></style>

</head>
<body>
    <%- include('includes/header.ejs') %>

<div class="col-md-9 m-auto">
    <div class="container mt-5">
        <h2 class="mb-4">Analíticas</h2>

        <div class="container mt-5">
            <div class="row">
                <!-- Primer formulario -->
                <div class="col-md-6 mb-3">
                    <form id="brandForm" method="POST" action="/analiticas/filteredAnalyticsBybrandAndYear" class="border p-4 rounded">
                        <h3>Buscar las Analíticas por marca y año</h3>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <div class="form-group">
                            <label for="brandInput">Marca:</label>
                                <select class="form-control" id="brandInput" name="brand" aria-placeholder="">
                                    <option selected> Elige una marca</option>
                                    <option value="Luuna">Luuna</option>
                                    <option value="Nooz">Nooz</option>
                                    <option value="Mappa">Mappa</option>
                                </select>
                        </div>
                        <div class="form-group">
                            <label for="yearInput">Año:</label>
                            <input type="number" class="form-control" id="yearInput" name="year" placeholder="20##" min="2023">
                        </div>
                        <button type="submit" class="btn btn-secondary mt-3">Buscar</button>
                    </form>
                </div>
        
                <!-- Segundo formulario -->
                <div class="col-md-6 mb-3">
                    <form action="/analiticas/filteredAnalyticsByitemCodeAndYear" method="POST" class="border p-4 rounded">
                        <h3>Buscar las Analíticas por código y año</h3>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <div class="form-group">
                            <label for="itemCode">Código:</label>
                            <input type="text" class="form-control" id="itemCode" name="itemCode" placeholder="LB0000">
                        </div>
                        <div class="form-group">
                            <label for="yearInput">Año:</label>
                            <input type="number" class="form-control" id="yearInput" name="year" placeholder="20##"" min="2023">
                        </div>
                        <button type="submit" class="btn btn-secondary mt-3">Buscar</button>
                    </form>
                </div>
            </div>
        </div>
        
              <script>
                function submitForm(brand) {
                    document.getElementById('brandInput').value = brand;
                    document.getElementById('yearInput').value = document.getElementById('year').value; // Establecer el año
                    document.getElementById('brandForm').submit();
                  }
              </script>
  </div>
</div>

<%- include('includes/sidebar.ejs') %>
</body>
</html>