<!DOCTYPE html>
<html>
<head>
    <%- include('includes/head.ejs', {permisos: permisos}) %>
</head>
<body>
    <%- include('includes/header.ejs') %>

    <div class="col-md-9 m-auto">
        <div class="container mt-5">
            <h2 class="mb-4">Analiticas</h2>
            <div class="container mt-5">
                <div class="row">
        
      </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Calificaci칩n</th>
            <th>Producto</th>
            <th>Promedio de Ventas del Ultimo A침o</th>
            <th>Cantidad de Rese침as del Ultimo A침o</th>
        </tr>
    </thead>
    <tbody>
      <% for (let i = 0; i < analitics.length; i++) { %>
        <% let analitic = analitics[i]; %>
        <% 
        let imagenEstrellas = '';
        if (analitic.PromedioCalificaciones >= 0 && analitic.PromedioCalificaciones <= 1.9) {
            imagenEstrellas = 'review1.png';
        } else if (analitic.PromedioCalificaciones <= 2.9) {
            imagenEstrellas = 'review2.png';
        } else if (analitic.PromedioCalificaciones <= 3.9) {
            imagenEstrellas = 'review3.png';
        } else if (analitic.PromedioCalificaciones <= 4.9) {
            imagenEstrellas = 'review4.png';
        } else {
            imagenEstrellas = 'review5.png';
        }
        %>
        <tr data-bs-toggle="collapse" data-bs-target="#row<%= i %>" aria-expanded="false" aria-controls="row<%= i %>">
          <td><img src="/img/stars/<%= imagenEstrellas %>" alt="Estrellas"></td>
          <td><%= analitic.ItemCode %></td>
          <td><%= parseFloat(analitic.PromedioCalificaciones).toFixed(1) %></td>
          <td><%= analitic.NumVentas %></td>
        </tr>
        <tr id="row<%= i %>" class="collapse">
            <td colspan="4">
                <div class="container">
                    <canvas class="myChart" id="myChart<%= i %>"></canvas>
                </div>
            </td>
        </tr>
        <% } %>
    </tbody>
</table>
</div>

<%- include('includes/sidebar.ejs') %>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  // Generar los arrays promedios y meses en el servidor usando EJS
  let promedios = [<%- analitics.map(a => a.PromedioCalificaciones).join(',') %>];
  let meses = [<%- analitics.map(a => `'${a.NombreMes}'`).join(',') %>];

  document.addEventListener('DOMContentLoaded', function() {
    const charts = [];
    document.querySelectorAll('.myChart').forEach((canvas, index) => {
      const ctx = canvas.getContext('2d');
      const data = {
        labels: meses, // Usar la matriz completa de meses para las etiquetas
        datasets: [{
          label: 'Promedios del Ultimo Mes',
          backgroundColor: 'rgba(255, 99, 132, 0.2)',
          borderColor: 'rgba(255, 99, 132, 1)',
          borderWidth: 1,
          data: promedios, // Usar la matriz completa de promedios para los datos
        }]
      };
      charts.push(new Chart(ctx, {
        type: 'line',
        data: data,
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      }));
    });
  });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>