<%- include('includes/head.ejs', {permisos: permisos, marcas:marcas, totalPages:totalPages, currentPage:currentPage, startIndex:startIndex, endIndex:endIndex}) %>
<%- include('includes/header.ejs') %>


      <div class="col-md-8 m-auto mt-5">

        <!-- Titulo -->
        <h2 class="mb-2">Marcas</h2>

          <% if (typeof error !== 'undefined' && error) { %>
            <div class="alert alert-danger" role="alert">
              <%= error %>
            </div>
          <% } %>

        <div class="row row-cols-1 row-cols-md-3 g-4 m-auto">

            <% for(marca of marcas){ %>

              <div class="col">
                <div class="card" style="width: 16em;">
                  <!-- Imagen de cada marca -->
                  <img src="/img/<%= marca.imagen %>" alt="Imagen de <%= marca.nombre %>" style="height: 16em; width: 16em;">
                  <!-- <img src="<%= marca.imagen %>" alt="Imagen de <%= marca.nombre %>" style="height: 15em; width: 15em;"> -->
                  
                  <div class="card-body text-center bg-light">
                    <h3 class="mb-4"><%= marca.nombre %></h3>
                    <a href="/encuestas/<%= marca.nombre %>" alt="/brands" class="btn btn-outline-primary">Editar encuestas <i class="bi bi-pencil-fill"></i></a>
                  </div>
                </div>
              </div>

            <% } %>
           
            <!-- boton/imagen para agregar marca -->
            <% for(let funcion of permisos) {%>
              <%  if(funcion.Accion == 'modificarUsuario') { %>
            <div class="col">
              <div class="card" style="width: 15em;">
                <a href="/brands/new" class="btn btn-outline-secondary"><img src="/img/plus.png" class="card-img-top" alt="..."></a>
              </div>
            </div>
            <% } %>
            <% } %>


          </div>

          <% for(let funcion of permisos) {%>
          <%  if(funcion.Accion == 'modificarUsuario') { %>
          <!-- Botones de editar y de eliminar marca -->
          <div class="mt-4 container-fluid text-end">
            <a href="/brands/editName" class="btn btn-outline-primary"> Renombrar marca <i class="bi bi-pencil-fill"></i></a>
            <a href="/brands/editImage" class="btn btn-outline-primary"> Actualizar imagen <i class="bi bi-pencil-fill"></i></a>
            <a href="/brands/delete" class="btn btn-outline-danger"> Eliminar marca <i class="bi bi-trash-fill"></i> </a>
            <!-- <button href="/brands/delete" class="btn btn-outline-danger eliminar-marca">Eliminar marca <i class="bi bi-trash-fill"></i></button> -->
          </div>
          <% } %>
          <% } %>
          
      </div>      
    </div>
  </div>
      

  <div class="row row-cols-1 row-cols-md-3 g-4 m-auto">
    <% for(let i = startIndex; i < endIndex; i++) { %>
        <% const marca = marcas[i]; %>
        <div class="col">
            <div class="card" style="width: 16em;">
                <!-- Imagen de cada marca -->
                <img src="/img/<%= marca.imagen %>" alt="Imagen de <%= marca.nombre %>" style="height: 16em; width: 16em;">
                <div class="card-body text-center bg-light">
                    <h3 class="mb-4"><%= marca.nombre %></h3>
                    <a href="/encuestas/<%= marca.nombre %>" alt="/brands" class="btn btn-outline-primary">Editar encuestas <i class="bi bi-pencil-fill"></i></a>
                </div>
            </div>
        </div>
    <% } %>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <% for(let i = 1; i <= totalPages; i++) { %>
            <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                <a class="page-link" href="/brands?page=<%= i %>"><%= i %></a>
            </li>
        <% } %>
    </ul>
</nav>

<%- include('includes/sidebar.ejs') %>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
