<%- include('includes/head.ejs', {permisos: permisos, marcas:marcas, totalPages:totalPages, currentPage:currentPage, startIndex:startIndex, endIndex:endIndex}) %>
<%- include('includes/header.ejs') %>


<div class="col-md-8 m-auto mt-5">

    <!-- Titulo -->
    <h2 class="mb-2">Marcas</h2>
    

    <% if (typeof error !== 'undefined' && error) { %>
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>
    <% } %>

    <div class="row row-cols-1 row-cols-md-3 g-4 m-auto">
        <% for (marca of marcas) { %>
        <div class="col">
            <div class="card" style="width: 16em;">
                <!-- Verificar si la marca tiene una imagen -->
                <% if (marca && marca.imagen) { %>
                <img src="/img/<%= marca.imagen %>" alt="Imagen de <%= marca.nombre %>" style="height: 16em; width: 16em;">
                <% } else { %>
                <!-- Aquí puedes mostrar una imagen por defecto o un mensaje -->
                <p>No hay imagen disponible</p>
                <% } %>
                <div class="card-body text-center bg-light">
                    <h3 class="mb-4"><%= marca.nombre %></h3>
                    <a href="/encuestas/<%= marca.nombre %>" alt="/brands" class="btn btn-outline-primary">Editar encuestas <i class="bi bi-pencil-fill"></i></a>
                </div>
            </div>
        </div>
        <% } %>

        <% for(let funcion of permisos) {%>
          <%  if(funcion.Accion == 'modificarUsuario') { %>
        <div class="col">
          <div class="card" style="width: 16em;">
            <a href="/brands/new" class="btn btn-outline-secondary"><img src="/img/plus.png" class="card-img-top" alt="..."></a>
          </div>
        </div>
        <% } %>
        <% } %>
    </div>
    
    
    
      <!-- Descomentar si se quiere fijar: -->
    <!-- <div style="position: fixed; bottom: 0; left: 0; width: 100%; z-index: 9999; background-color: white;">
        <div class="row container-fluid text-end">
             -->
          <div class="row mt-4 container-fluid text-end">
         
            <nav class="col" aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="/brands?page=1" aria-label="First">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <% const startPage = Math.max(1, currentPage - 1); %>
                <% const endPage = Math.min(startPage + 2, totalPages); %>
                <% for (let i = startPage; i <= endPage; i++) { %>
                  <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                    <a class="page-link" href="/brands?page=<%= i %>"><%= i %></a>
                  </li>
                <% } %>
                <li class="page-item">
                  <a class="page-link" href="/brands?page=<%= totalPages %>" aria-label="Last">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
      
          <% for (let funcion of permisos) { %>
            <% if (funcion.Accion == 'modificarUsuario') { %>
              <!-- Botones de editar y de eliminar marca -->
              <a href="/brands/editName" class="col mx-2 btn btn-outline-primary" style="height: 3em;"> Renombrar marca <i class="bi bi-pencil-fill"></i></a>
              <a href="/brands/editImage" class="col mx-2 btn btn-outline-primary" style="height: 3em;"> Actualizar imagen <i class="bi bi-pencil-fill"></i></a>
              <a href="/brands/delete" class="col mx-2 btn btn-outline-danger" style="height: 3em;"> Eliminar marca <i class="bi bi-trash-fill"></i> </a>
          <% } %>
          <% } %>
        </div>
      
    </div>
      
</div>
</div>
</div>

<%- include('includes/sidebar.ejs') %>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>