<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Encuesta</title>
    <style>
        body { 
            font-family: Arial, sans-serif; 
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-color: #f8f9fa;
        }
        .container { 
            width: 80%; 
            background: #fff;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            border-radius: 8px;
        }
        .text-center { 
            text-align: center; 
        }
        .mb-3 { 
            margin-bottom: 16px; 
            text-align: center;
        }
        .form-label { 
            font-weight: bold; 
            display: block; 
            margin-bottom: 8px; 
        }
        .form-control, .form-check-input, .btn { 
            margin-top: 5px; 
        }
        .btn-primary { 
            color: white; 
            background-color: blue; 
            padding: 10px 20px; 
            border: none;
            border-radius: 5px; 
            cursor: pointer;
        }
        .input-checkbox, .input-radio { 
            margin-right: 5px; 
        }
        .input-disabled { 
            background-color: #e9ecef; 
            opacity: 1; 
        }
        .options-container { 
            text-align: center;
        }
        .options-container div {
            display: inline-block; /* Center align the checkbox/radio options */
            margin-right: 15px; /* Space between options */
        }
        input[type="range"] {
            width: 100%; /* Full-width */
        }
        input[type="file"] {
            display: block; /* Separate line */
            margin-top: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="text-center">Encuesta sobre <%= marca.toUpperCase() %></h2>
        <h5 class="text-center">Hola, <%= name.toUpperCase() %>!</h5>
        <form action="http://localhost:3000/mail/submissions" method="POST" enctype="multipart/form-data">
            <input type="hidden" value="<%= email %>" name="email">
            <input type="hidden" value="<%= ItemCode %>" name="ItemCode">
            <% preguntas.forEach(function(pregunta) { %>
                <div class="mb-3">
                    <label class="form-label"><%= pregunta.Pregunta %></label>
                    <% if(pregunta.TipoPregunta === 'Abierta') { %>
                        <input type="text" class="form-control" name="respuesta<%= pregunta.IDPreguntas %>">
                    <% } else if (pregunta.TipoPregunta === 'Archivo') { %>
                        <input type="file" class="form-control" name="respuesta<%= pregunta.IDPreguntas %>">
                    <% } else if (pregunta.TipoPregunta === 'Rango') { %>
                        <input type="range" class="form-control" min="1" max="10" value="5" name="respuesta<%= pregunta.IDPreguntas %>">
                    <% } else if (pregunta.TipoPregunta === 'Checkbox' || pregunta.TipoPregunta === 'OpcionMultiple') { %>
                        <div class="options-container">
                            <% pregunta.Opciones.forEach(function(opcion, index) { %>
                                <div>
                                    <% if (pregunta.TipoPregunta === 'Checkbox') { %>
                                        <input type="checkbox" class="input-checkbox" name="respuesta<%= pregunta.IDPreguntas %>_<%= index %>"> <%= opcion.TextoOpcion %>
                                    <% } else if (pregunta.TipoPregunta === 'OpcionMultiple') { %>
                                        <input type="radio" name="respuesta<%= pregunta.IDPreguntas %>" class="input-radio"> <%= opcion.TextoOpcion %>
                                    <% } %>
                                </div>
                            <% }); %>
                        </div>
                    <% } %>
                </div>
            <% }); %>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>
</body>
</html>