<!--Cargamos los ejs y los objetos con la info de la base de datos-->
<%- include('includes/head.ejs', {permisos: permisos, personal:personal, correo:correo}) %>
<%- include('includes/header.ejs') %>

      <div class="col-md-8 m-auto mt-5">
        <!-- autoajustar el container -->
        <div class="container m-auto">

          
          <div class="container mt-2 d-flex justify-content-between">
            <h1 class="mb-4">Personal</h1>
            <form action="/personal/filteredPersonal" method="POST" id="filterForm">
            <div class="d-flex flex-row-reverse">
                <div class="form-group m-3">
                    <button class="btn btn-secondary" type="submit" id="search" disabled>Buscar</button>
              </div>
            <div class="form-group my-3">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                <select class="form-select" name="rol" id="rol" aria-label="Select rol" onchange="enable()">
                  <option hidden selected value required>Filtrar por rol</option>
                  <% 
                  // Iterar sobre los roles para crear las opciones
                  for(rol of totalRoles) {
                  %>
                  <option value="<%=rol.Descripcion%>"><%=rol.Descripcion%></option>
                  <% } %>
                </select>
              </form>
            </div>
            </div>
                

  

            <!-- Barra de busqueda -->
            
            
            </div>

          </div>

        
          <div id="respuesta_ajax">


          <table class="table table-hover border border-dark">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Rol</th>
                <th>Fecha de asignación</th>
                <th>Modificar rol</th>
                <th>Eliminar</th>
              </tr>
            </thead>


            <!-- Busqueda con ajax -->
            
            <tbody>
              
              <!--Ciclamos por nuestro arreglo de personal para mostrarlos-->
              <% for(empleado of personal){ %>
              <tr data-bs-toggle="collapse" data-bs-target="#row1" aria-expanded="false" aria-controls="row1">
                
                <td> <%= empleado.Nombre %> </td>
                <td> <%= empleado.CorreoEmpleado %> </td>
                <td> <%= empleado.Rol %> </td>
                <td> <%= empleado.fechaAsignacion %> </td>
                <td>
                  <% if(empleado.CorreoEmpleado != correo) { %>
                  <form action="/personal/modify" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <select class="form-select-sm" id="rol" name="rol">
                      <option hidden disabled selected value>Modificar rol</option>
                      <option value="1">Administrador</option>
                      <option value="2">CRM</option>
                      <option value="3">Analista</option>
                    </select>
                    <input type="hidden" name= "correo" id="correo" value="<%= empleado.CorreoEmpleado %>">
                    <button type="submit" class="btn btn-secondary btn-sm">Guardar</button> 
                  </form>
                  <% } %>
                </td>
                <td>
                  <!-- BORRAR EMPLEADO -->
                  <% if(empleado.CorreoEmpleado != correo) { %>
                  <form class="login-form rounded-5" action="/personal/delete" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name= "correo" id="correo" value="<%= empleado.CorreoEmpleado %>">
                    <button type="submit" class="btn btn-light btn-lg"><i class="bi-trash-fill"></i></button></td>
                  </form>
                  <% } %>
              </tr>
              <% } %>

              
            </tbody>
          
          </table>

        </div>
        




          <div class="row justify-content-end">

            <div class="col-auto">
              <a href="/permisos" class="btn btn-success">Ver permisos de rol</a>
            </div>
            
            <div class="col-auto">
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Agregar personal
            </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar personal</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                    <div class="modal-body">
                    <form class="login-form rounded-5" action="/personal" method="POST">
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                      
                      <label class="form-text text-center " for="nombre">Nombre</label>
                      <input class="form-control" type="text" id="nombre" name="nombre" required>
                      
                      <label class="form-text text-center " for="correo">Correo</label>
                      <input class="form-control" type="text" id="correo" name="correo" required>
                      
                      <label class="form-text text-center " for="password">Contraseña</label>
                      <input class="form-control" type="text" id="password" name="password" required>

                      <label class="form-text text-center " for="rol">Selecciona el rol del empleado:</label>
                      <select class="form-select" aria-label="Default select example" name="rol" id="rol">
                        <option value="Administrador">Administrador</option>
                        <option value="CRM">CRM</option>
                        <option value="Analista">Analista</option>
                      </select>
                      
                    </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Registrar empleado</button> 
                  </form>
                  </div>
                </div>
              </div>
            </div>
            </div>

        </div>

        

      </div>
    </div>
   </div>
  </div>

  <div class="container mt-5 mb5">
    <div class="fixed-bottom bg-light border-top py-3">
      <div class="container">
        <div class="d-flex justify-content-between">
          <a href="/personal/" class="btn btn-outline-dark">Regresar <i class="bi bi-arrow-90deg-left"></i></a>
        </div>
      </div>
    </div>
  </div>


  <!-- Script barra de busqueda -->
  <script>
     function enable(){
    document.getElementById('search').removeAttribute("disabled");
  }

    const accion_asincrona = () => {
        console.log('Buscando...');
        const valor_busqueda = document.getElementById('buscar').value;
        //función que manda la petición asíncrona
        fetch('/personal/buscar/' + valor_busqueda, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            }
        }).then((result) => {
            console.log(result);
            return result.json(); //Regresa otra promesa
        }).then((data) => {
            console.log(data);

        let html = '';

        html += `
        <table class="table table-hover border border-dark">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Rol</th>
                <th>Fecha de asignación</th>
                <th>Modificar rol</th>
                <th>Eliminar</th>
              </tr>
            </thead>
            
            <tbody>
              `;
        
        
        for (let empleado of data.personal) {
          
          if(empleado.CorreoEmpleado != correo) {

            html += `
              <tr data-bs-toggle="collapse" data-bs-target="#row1" aria-expanded="false" aria-controls="row1">
                <td> ${empleado.Nombre} </td>
                <td> ${empleado.Rol} </td>
                <td> ${empleado.fechaAsignacion} </td>
                <td>
                  <form action="/personal/modify" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <select class="form-select-sm" id="rol" name="rol">
                      <option hidden disabled selected value>Modificar rol</option>
                      <option value="1">Administrador</option>
                      <option value="2">CRM</option>
                      <option value="3">Analista</option>
                    </select>
                    <input type="hidden" name= "correo" id="correo" value="${empleado.CorreoEmpleado}">
                    <button type="submit" class="btn btn-secondary btn-sm">Guardar</button> 
                  </form>
                </td>
                <td>
                  <!-- BORRAR EMPLEADO -->
                  <form class="login-form rounded-5" action="/personal/delete" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name= "correo" id="correo" value="${empleado.CorreoEmpleado}">
                    <button type="submit" class="btn btn-light btn-lg"><i class="bi-trash-fill"></i></button></td>
                  </form>
              </tr>
          `
          }
        }
        html+=`
        </tbody>
          
        </table>
        `;
       
            //Modificamos el DOM de nuestra página de acuerdo a los datos de la segunda promesa
            //...
            document.getElementById('respuesta_ajax').innerHTML = html;

        }).catch(err => {
            console.log(err);
        });
    };
    document.getElementById('buscar').onkeyup = accion_asincrona;
    </script>
    
<%- include('includes/sidebar.ejs') %>              
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
