<%- include('includes/head.ejs', {permisos: permisos}) %>
<%- include('includes/header.ejs') %>
<h3>Historial de Encuestas - <%= marca %> - <%= categoria %></h3>
<!-- Barra lateral -->
<%- include('includes/sidebar.ejs') %>
<div class="container mt-3">
    <% if (historial && historial.length) { %>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Pregunta Anterior</th>
                    <th>Pregunta Nueva</th>
                    <th>Correo de quien modificó</th>
                </tr>
            </thead>
            <tbody>
                <% historial.forEach(function(item) { %>
                    <tr>
                        <td><%= item.PreguntaAnterior %></td>
                        <td><%= item.PreguntaNueva %></td>
                        <td><%= item.Correo %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <p>No hay registros en el historial para esta marca y categoría.</p>
    <% } %>
</div>
<script src="/js/encuesta.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/c5614e6e6c.js" crossorigin="anonymous"></script>
</body>
</html>
