<%- include('includes/head.ejs', {permisos: permisos}) %>
<%- include('includes/header.ejs') %>

<div class="container-fluid main-content">
  <div class="row">
    <div class="col-md-7">
      <div class="container mt-5">
        <div class="row align-items-center">
          <div class="col-md-auto align-self-start">
            <h2 class="mb-0"><%= marca %></h2>
            <br>
            <% if (categorias.length > 0) { %>
              <!-- Botones de registrar encuesta para cada categoría dinámicamente -->
              <% categorias.forEach(categoria => { %>
                <div class="col-md-12 mb-3">
                  <!-- Asegúrate de que la URL y el método de generación de la misma sean correctos para tu aplicación -->
                  <!-- Modifica la URL según la necesidad de tu aplicación -->
                  <a href="/encuestas/<%= marca.toLowerCase() %>/<%= categoria %>" class="btn btn-outline-primary">
                    <%= categoria %> <i class="bi bi-pencil-fill"></i>
                  </a>
                </div>
              <% }); %>
            <% } else { %>
              <p>Aún no hay categorías.</p>
            <% } %>
            <!-- Formulario para agregar nueva categoría -->
            <form action="/encuestas/<%= marca.toLowerCase() %>/agregar_categoria" method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <input type="text" name="categoria_nombre" placeholder="Nueva Categoría" required>
              <button type="submit" class="btn btn-primary">Agregar Categoría</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Barra lateral -->
<%- include('includes/sidebar.ejs') %>

<script src="/js/encuesta.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/c5614e6e6c.js" crossorigin="anonymous"></script>
</body>
</html>
