<%- include('includes/head.ejs', {permisos: permisos}) %>
<%- include('includes/header.ejs') %>

<div class="container-fluid main-content">
  <div class="row">
    <div class="col-md-7"> 
      <div class="container mt-5">
        <div class="row align-items-center">
          <div class="col-md-auto align-self-start">
            <h2 class="mb-0">NOOZ - COLCHONES</h2>
          </div>
          <br>
          <br>
          <!-- Inicio del formulario -->
          <!-- Mostrar preguntas existentes -->
          <% if (preguntas.length > 0) { %>
            <div class="preguntas-container">
                <h2>Preguntas existentes</h2>
                <ul>
                    <% preguntas.forEach(pregunta => { %>
                        <li>
                            ID: <%= pregunta.IDPreguntas %><br>
                            Pregunta: <%= pregunta.Pregunta %><br>
                            Tipo de pregunta: <%= pregunta.TipoPregunta %><br>
                            Estado: <%= pregunta.EstadoObligatorio ? 'Obligatoria' : 'No Obligatoria' %>
                        </li>
                        <br>
                    <% }); %>
                </ul>
            </div>
          <% } else { %>
            <p>No hay preguntas registradas.</p>
          <% } %>
          <!-- Fin del formulario -->
          <!-- Botones de encuesta-->
          <div class="mt-4 container-fluid d-flex justify-content-between align-items-center">
            <div>
              <div class="d-flex">
                <!-- Boton para editar pregunta -->
                <a href="#" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#editarModal">Editar pregunta <i class="bi bi-pencil"></i></a>

                <!-- Boton para agregar pregunta -->
                <a href="#" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#agregarModal">Agregar pregunta <i class="bi bi-plus"></i></a>
              </div>
            </div>
            <div>
              <!-- Boton para eliminar encuesta -->
              <a href="#" class="btn btn-outline-danger ms-2" data-bs-toggle="modal" data-bs-target="#eliminarModal">Eliminar encuesta <i class="bi bi-trash-fill"></i></a>
            </div>
          </div>
          <!-- Boton para regresar a las encuestas de la marca -->
          <div class="mt-4 container-fluid d-flex justify-content-between align-items-center">
            <div class="d-flex">
              <a href="/encuestas/nooz" class="btn btn-outline-dark me-2">Regresar a nooz <i class="bi bi-arrow-90deg-left"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modales -->
<!-- Editar pregunta -->
<div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="editarModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar pregunta</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Forma para recibir info de la pregunta -->
        <form class="brand-form card text-center p-4" action="/encuestas/editar_pregunta" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <!-- Preguntar por el ID      -->
              <label class="mt-4 mb-2 text-center" for="brandname">ID de la pregunta a cambiar</label>
              <input class="form-control" type="text" id="idpreguntacambiar" name="idpreguntacambiar" required>
              <!-- Preguntar por el estado -->
              <label class="form-text text-center " for="Obligatoria">¿Obligatoria?</label>
              <select class="form-select" aria-label="Default select example" name="obligatorio" id="obligatorio">
                  <option value="1">Si</option> <!-- Cambiado a 1 para representar "Si" -->
                  <option value="0">No</option> <!-- Cambiado a 0 para representar "No" -->
              </select>
              <!-- Preguntar por la pregunta -->
              <label class="form-text text-center " for="Pregunta">Pregunta</label>
              <input class="form-control" type="text" id="pregunta" name="pregunta" required>
              <!-- Preguntar por el tipo de pregunta  -->
              <label class="form-text text-center " for="TipoPregunta">Selecciona el tipo de pregunta:</label>
              <select class="form-select" aria-label="Default select example" name="tipo_pregunta" id="tipo_pregunta">
                  <option value="Checkbox">Checkbox</option>
                  <option value="OpcionMultiple">Opción Múltiple</option>
                  <option value="Abierta">Abierta</option>
                  <option value="Rango">Rango</option>
              </select> 
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar cambios</button> 
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Agregar pregunta -->
<div class="modal fade" id="agregarModal" tabindex="-1" aria-labelledby="agregarModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar pregunta</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="login-form rounded-5" action="/encuestas/nooz_new_colchones" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          
          <label class="form-text text-center" for="Obligatoria">¿Obligatoria?</label>
          <select class="form-select" aria-label="Default select example" name="EstadoObligatorio" id="obligatorio">
              <option value="1">Si</option>
              <option value="0">No</option>
          </select>
          
          <label class="form-text text-center" for="Pregunta">Pregunta</label>
          <input class="form-control" type="text" id="pregunta" name="Pregunta" required>
      
          <label class="form-text text-center" for="TipoPregunta">Selecciona el tipo de pregunta:</label>
          <select class="form-select" aria-label="Default select example" name="TipoPregunta" id="tipo_pregunta">
              <option value="Checkbox">Checkbox</option>
              <option value="OpcionMultiple">Opción Múltiple</option>
              <option value="Abierta">Abierta</option>
              <option value="Archivo">Archivo</option>
          </select>
        
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Registrar pregunta</button> 
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Eliminar encuesta -->
<div class="modal fade" id="eliminarModal" tabindex="-1" aria-labelledby="eliminarModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eliminarModalLabel">Eliminar Encuesta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Seguro que quieres eliminar la encuesta?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <!-- Modifica la acción del formulario para incluir los parámetros de marca y categoría -->
        <form action="/encuestas/delete_encuesta/<%= marca %>/<%= categoria %>" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button type="submit" class="btn btn-danger">Sí</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Barra lateral -->
<%- include('includes/sidebar.ejs') %>
<script src="/js/encuesta.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/c5614e6e6c.js" crossorigin="anonymous"></script>
</body>
</html>
