<%- include('includes/head.ejs', {permisos: permisos, dataPermisos:dataPermisos}) %>
<%- include('includes/header.ejs') %>

            <div class="col-md-8 m-auto mt-5">
                <!-- Titulo de la pagina -->
                <h1 class="mx-2 mt-2 mb-5">Roles:</h1> 
                <div class="row row-cols-1 row-cols-md-3 g-4">

                  <% 
                  for(rol of totalRoles) { 
                    if(rol.IDRol != 0){ %>
                    <div class="col text-center">
                        <!-- mx-auto centra la imagen cuando se colapsa por tama침o -->
                        <div class="card pb-4 mb-4 mx-auto" style="width: 17em;">
                            <form action="/permisos/delete" method="POST">
                              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                              <input type="hidden" name="IDRol" id="IDRol" value="<%= rol.IDRol %>">
                              <button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#confirmModal<%= rol.IDRol %>" style="position: absolute; top: 0; right: 0;"></button>


                            <!-- Confirm Modal -->
                            <div class="modal fade" id="confirmModal<%=rol.IDRol%>" tabindex="-1" aria-labelledby="#confirmModal" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="confirmModalLabel">Confirmar eliminaci칩n</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <p>쮼st치s seguro de que deseas eliminar este rol?</p>
                                    <p class="fw-bold text-danger fs-5">ESTO DEJARA SIN PERMISOS A TODOS LOS USUARIOS REGISTRADOS BAJO ESE ROL</p>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                  </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          <h2 class="mx-2 mt-2"><%= rol.Descripcion%></h2> 
                          <!-- Dropdown de los permisos -->
                          <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Permisos <%= rol.Descripcion%>
                              </button>
                              <!-- Lista del contenido de nuestro dropdown -->
                              <ul class="dropdown-menu mx-auto">
                                  <div class="card-body bg-light">

                                    <% for(permiso of dataPermisos){ %>
                                          <!-- El 1 es el id del rol para el que muestra los permisos -->
                                          <% if (permiso.idrol == rol.IDRol) { %>
                                              <div class="row"><%= permiso.idpermiso %>. <%= permiso.accion %>:</div>
                                              <div class="row">-<%= permiso.descripcion %></div>
                                          <% } %>   
                                      <% } %>
                                  </div>
                              </ul>
                          </div>
                          <!-- fin del dropdown -->
                      </div>
                  </div>
                  <% } %>
                  <% } %>
                    <div class="col text-center">
                      <!-- mx-auto centra la imagen cuando se colapsa por tama침o -->
                      <div class="card pb-4 mb-4 mx-auto" style="width: 17em;">
                        <h2 class="mx-2 mt-2">Agregar rol</h2> 
                        <a class="btn btn-primary mx-4" href="/permisos/new" role="button">游목</a>
                      </div>
                    </div>
                    


                </div>
                <div class="d-flex justify-content-end">


                  <div class="col-auto mx-2">
                  <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                    Asignar nuevo permiso a rol
                  </button>
                  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Asignar nuevo permiso a rol</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                          <form class="login-form rounded-5" action="/permisos/asignar" method="POST" id="permisosForm">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <label class="form-text text-center" for="rol">Selecciona el rol:</label>
                            <select class="form-select" aria-label="Default select example" name="rol" id="rol">
                              <% 
                              // Crear un conjunto para almacenar roles 칰nicos
                              let uniqueRoles = new Set(); 
                              
                              // Iterar sobre el arreglo de empleados para obtener roles 칰nicos
                              for(aux of dataPermisos){
                                uniqueRoles.add(aux.Rol);
                              }
                              
                              // Iterar sobre los roles 칰nicos para crear las opciones
                              let rolID = 0;
                              for(rol of uniqueRoles) {
                                if(rol != "Rol no asignado"){
                                rolID += 1;
                              %>
                              <option value="<%=rolID%>"><%=rol%></option>
                              <% } %>
                              <% } %>
                            </select>
                            
                            <label class="form-text text-center" for="idpermiso">Selecciona el permiso a asignar</label>
                            <select class="form-select" aria-label="Default select example" name="idpermiso" id="idpermiso">
                            </select>
                      </div>

                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                          <button type="submit" class="btn btn-primary">Asignar permiso a rol</button> 
                        </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                  <div class="col-auto mx-2">
                  <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                      Eliminar permiso de rol
                    </button>
                    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar permiso del rol</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                            <div class="modal-body">
                            <form class="login-form rounded-5" action="/permisos/desasignar" method="POST">
                              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                              
                              <label class="form-text text-center " for="deleteRol">Selecciona el rol:</label>
                              <select class="form-select" aria-label="Default select example" name="deleteRol" id="deleteRol">
                                <% 
                                // Iterar sobre los roles 칰nicos para crear las opciones
                                rolID = 0;
                                for(rol of uniqueRoles) {
                                  if(rol != "Rol no asignado"){
                                  rolID += 1;
                                %>
                                <option value="<%=rolID%>"><%=rol%></option>
                                <% } %>
                                <% } %>
                              </select>
                              
                              <label class="form-text text-center" for="deleteIdPermiso">Selecciona el permiso a asignar</label>
                            <select class="form-select" aria-label="Default select example" name="deleteIdPermiso" id="deleteIdPermiso">
                            </select>
                            </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Eliminar permiso</button> 
                          </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
              </div>
            </div>  
        </div>
    </div>


    <%- include('includes/sidebar.ejs') %>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
      <script>
        document.getElementById("deleteRol").addEventListener("change", function() {
          let selectedRol = this.value;
          let permisosSelect = document.getElementById("deleteIdPermiso");
          // Limpiar el select de permisos
          permisosSelect.innerHTML = "";

          // Obtener permisos asociados al rol seleccionado
          let totalPermisos = '<%- JSON.stringify(dataPermisos) %>';
          totalPermisos = JSON.parse(totalPermisos)
          let uniqueTotalPermisos = new Map(totalPermisos.map(d => [d.descripcion, d]))
          uniqueTotalPermisos = [...uniqueTotalPermisos.values()]


          newTotal = []
          newTotalID = []
          for(aux of uniqueTotalPermisos){
            newTotal.push(aux.descripcion)
            newTotalID.push(aux.idpermiso)
          }

          
          let selectedRolPermisos = new Set();
          let selectedRolPermisosID = new Set();

          for(aux of totalPermisos){
            if(aux.idrol == selectedRol && aux.idrol != 0){
              selectedRolPermisos.add(aux.descripcion);
              selectedRolPermisosID.add(aux.idpermiso)
            }
          }

          let newSelectedRolPermisos = []
          for(aux of selectedRolPermisos){
            newSelectedRolPermisos.push(aux)
          }

          
          let newSelectedRolPermisosID = []
          for(aux of selectedRolPermisosID){
            newSelectedRolPermisosID.push(aux)
          }

          let intersection = newTotal.filter(x => newSelectedRolPermisos.includes(x));
          let idIntersection = newTotalID.filter(x => newSelectedRolPermisosID.includes(x));

          
          selectedRolPermisosID = selectedRolPermisosID.values()
          
         


          // Agregar opciones al select de permisos
          intersection.forEach(function(permiso, index) {
            let option = document.createElement("option");
            option.value = idIntersection[index];
            option.text = permiso;
            permisosSelect.appendChild(option);
          });
        });
        
        // Trigger change event initially to populate the permissions based on the default selected role
        document.getElementById("deleteRol").dispatchEvent(new Event("change"));
        </script>  
        <script>
          document.getElementById("rol").addEventListener("change", function() {
            let selectedRol = this.value;
            let permisosSelect = document.getElementById("idpermiso");
            // Limpiar el select de permisos
            permisosSelect.innerHTML = "";
            
            // Obtener permisos asociados al rol seleccionado
            let totalPermisos = '<%- JSON.stringify(dataPermisos) %>';
            totalPermisos = JSON.parse(totalPermisos)
            let uniqueTotalPermisos = new Map(totalPermisos.map(d => [d.descripcion, d]))
            uniqueTotalPermisos = [...uniqueTotalPermisos.values()]


            newTotal = []
            newTotalID = []
            for(aux of uniqueTotalPermisos){
              newTotal.push(aux.descripcion)
              newTotalID.push(aux.idpermiso)
            }

            let selectedRolPermisos = new Set();
            let selectedRolPermisosID = new Set();

            for(aux of totalPermisos){
              
              if(aux.idrol == selectedRol || aux.idrol == 0){
                selectedRolPermisos.add(aux.descripcion);
                selectedRolPermisosID.add(aux.idpermiso)
              }
            }
            
            let newSelectedRolPermisos = []
            for(aux of selectedRolPermisos){
              newSelectedRolPermisos.push(aux)
            }

            let newSelectedRolPermisosID = []
            for(aux of selectedRolPermisosID){
              newSelectedRolPermisosID.push(aux)
            }

            let difference = newTotal.filter(x => !newSelectedRolPermisos.includes(x));
            let idDiff = newTotalID.filter(x => !newSelectedRolPermisosID.includes(x));

            
            selectedRolPermisosID = selectedRolPermisosID.values()
            


            // Agregar opciones al select de permisos
            difference.forEach(function(permiso, index) {
              let option = document.createElement("option");
              option.value = idDiff[index];
              option.text = permiso;
              permisosSelect.appendChild(option);
            });
          });
          
          // Trigger change event initially to populate the permissions based on the default selected role
          document.getElementById("rol").dispatchEvent(new Event("change"));
          </script>
    </body>
</html>