<%- include('includes/head.ejs', {permisos: permisos, dataPermisos:dataPermisos}) %>
<%- include('includes/header.ejs') %>

            <div class="col-md-8 m-auto mt-5">
                <!-- Titulo de la pagina -->
                <h1 class="mx-2 mt-2 mb-5">Roles:</h1> 
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    
                    <div class="col text-center">
                        <!-- mx-auto centra la imagen cuando se colapsa por tamaño -->
                        <div class="card h-100 mb-4 mx-auto" style="width: 17em;">
                            <img src="/img/admin.png" class="card-img-top" alt="imagen de rol" style="height: 15em; width: 17em;">
                            <h2 class="mx-2 mt-2">Administrador</h2> 
                            <!-- Dropdown de los permisos -->
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Permisos Administrador
                                </button>
                                <!-- Lista del contenido de nuestro dropdown -->
                                <ul class="dropdown-menu mx-auto">
                                    <div class="card-body bg-light">
                                        <% for(permiso of dataPermisos){ %>
                                            <!-- <% console.log(permiso) %> -->

                                            <!-- El 1 es el id del rol para el que muestra los permisos -->
                                            <% if (permiso.idrol == 1) { %>
                                                <div class="row"><%= permiso.idpermiso %>. <%= permiso.accion %>:</div>
                                                <div class="row">-<%= permiso.descripcion %></div>
                                            <% } %>   
                                        <% } %>
                                    </div>
                                </ul>
                            </div>
                            <!-- fin del dropdown -->
                        </div>
                    </div>




                    <div class="col text-center">
                        <div class="card h-100 mb-4 mx-auto" style="width: 17em;">
                            <img src="/img/crm.png" class="card-img-top" alt="imagen de rol" style="height: 15em; width: 17em;">

                            <h2 class="mx-2 mt-2">CRM</h2> 
                            
                            <!-- Dropdown de los permisos -->
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Permisos CRM
                                </button>
                                <!-- Lista del contenido de nuestro dropdown -->
                                <ul class="dropdown-menu mx-auto">
                                    <div class="card-body bg-light">
                                        <% for(permiso of dataPermisos){ %>
                                            <!-- <% console.log(permiso) %> -->
                                            <!-- El 2 es el id del rol para el que muestra los permisos -->
                                            <% if (permiso.idrol == 2) { %>
                                                <div class="row"><%= permiso.idpermiso %>. <%= permiso.accion %>:</div>
                                                <div class="row">-<%= permiso.descripcion %></div>
                                            <% } %>   
                                        <% } %>
                                    </div>
                                </ul>
                            </div>
                            <!-- fin del dropdown -->
                            
                        </div>
                    </div>



                    <div class="col text-center">
                        <div class="card h-100 mb-4 mx-auto" style="width: 17em;">
                            <img src="/img/empleado.png" class="card-img-top" alt="imagen de rol" style="height: 15em; width: 17em;">

                            <h2 class="mx-2 mt-2">Empleado</h2> 

                            <!-- Dropdown de los permisos -->
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Permisos Empleado
                                </button>
                                <!-- Lista del contenido de nuestro dropdown -->
                                <ul class="dropdown-menu mx-auto">
                                    <div class="card-body bg-light">
                                        <% for(permiso of dataPermisos){ %>
                                            <!-- <% console.log(permiso) %> -->
                                            <!-- El 3 es el id del rol para el que muestra los permisos -->
                                            <% if (permiso.idrol == 3) { %>
                                                <div class="row"><%= permiso.idpermiso %>. <%= permiso.accion %>:</div>
                                                <div class="row">-<%= permiso.descripcion %></div>
                                            <% } %>   
                                        <% } %>
                                    </div>
                                </ul>
                            </div>
                            <!-- fin del dropdown -->
                            

                        </div>
                        
                        <div class="row justify-content-end">
                        
                             <!-- boton para agregar permisos Falta poner el action y el method en caso de requerirse ej:-->
                            <!-- <form action="/user/login" method="POST"></form> -->
                            <form method="POST" class="mx-5 text-end">
                                <button id="btnAgregarPermiso3" class="btn btn-secondary" type="submit"> Agregar Permiso </button>
                            </form>

                        </div>

                            
                    </div>

                </div>
            </div>  
        </div>
    </div>


    <%- include('includes/sidebar.ejs') %>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>