<!--Cargamos los ejs y los objetos con la info de la base de datos-->
<%- include('includes/head.ejs', {permisos: permisos, personal:personal, correo:correo, totalRoles:totalRoles, totalPages:totalPages, currentPage:currentPage, startIndex:startIndex, endIndex:endIndex}) %>
<%- include('includes/header.ejs') %>

      <div class="col-md-8 m-auto mt-5">
        <!-- autoajustar el container -->
        <div class="container m-auto">

          <% if (typeof error !== 'undefined' && error) { %>
            <div class="alert alert-danger" role="alert">
              <%= error %>
            </div>
          <% } %>

          <% if (success) { %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
          
          <div class="container mt-2 d-flex justify-content-between">
            <h1 class="mb-4">Personal</h1>
            <form action="/personal/filteredPersonal" method="POST" id="filterForm">
            <div class="d-flex flex-row-reverse">
                <div class="form-group m-3">
                    <button class="btn btn-secondary" type="submit" id="search" disabled>Buscar</button>
              </div>
            <div class="form-group my-3">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                <select class="form-select mx-2" name="rol" id="rol" aria-label="Select rol" onchange="enable()">
                  <option hidden selected value required>Filtrar por rol</option>
                  <% 
                  // Iterar sobre los roles para crear las opciones
                  for(rol of totalRoles) {
                  %>
                  <option value="<%=rol.Descripcion%>"><%=rol.Descripcion%></option>
                  <% } %>
                </select>
              </form>
            </div>


            <!-- Barra de busqueda -->
<div class="d-flex align-items-center">
  <div class="me-2">
    Buscar por correo:
  </div>
  <div>
    <input id="buscar" class="input is-info my-3" type="text" placeholder="Correo"/>
  </div>
</div>
            

        </div>

          </div>

        
          <div id="respuesta_ajax">


          <table class="table table-hover border border-dark">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Rol</th>
                <th>Fecha de asignación</th>
                <th>Modificar rol</th>
                <th>Eliminar</th>
              </tr>
            </thead>


            <!-- Busqueda con ajax -->
            
            <tbody>
              
              <!--Ciclamos por nuestro arreglo de personal para mostrarlos-->
              <% for(empleado of personal){ %>
              <tr data-bs-toggle="collapse" data-bs-target="#row1" aria-expanded="false" aria-controls="row1">
                
                <td> <%= empleado.Nombre %> </td>
                <td> <%= empleado.CorreoEmpleado %> </td>
                <td> <%= empleado.Rol %> </td>
                <td> <%= empleado.fechaAsignacion %> </td>
                <td>
                  <!-- MODIFICAR ROL -->
                  <% if(empleado.CorreoEmpleado != correo) { %>
                      <form class="login-form rounded-5" action="/personal/modify" method="POST" name="formBorrar">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <select class="form-select-sm" id="rol" name="rol">
                          <option hidden disabled selected value required>Modificar rol</option>
                          <% 
                          // Iterar sobre los roles para crear las opciones
                          for(rol of totalRoles) {
                            if(rol.IDRol != 0){
                          %>
                          <option value="<%=rol.IDRol%>"><%=rol.Descripcion%></option>
                          <% } %>
                          <% } %>
                        </select>
                        <input type="hidden" name= "correo" id="correo" value="<%= empleado.CorreoEmpleado %>">
                        <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#modificarcatModal<%= empleado.CorreoEmpleado %>">Guardar</button>
                        <div class="modal fade" id="modificarcatModal<%= empleado.CorreoEmpleado %>" tabindex="-1" aria-labelledby="modificarcatModalLabel<%= empleado.CorreoEmpleado %>" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="modificarcatModalLabel<%= empleado.CorreoEmpleado %>">Modificar rol al empleado <%=empleado.Nombre %></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                ¿Estás seguro de que deseas modificar el rol del empleado?
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-danger">Modificar</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </form>
                    <% } %>
                </td>
                <td>
                  <!-- BORRAR EMPLEADO -->
                  <% if(empleado.CorreoEmpleado != correo) { %>
                    <form class="login-form rounded-5" action="/personal/delete" method="POST" name="formBorrar">
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                      <input type="hidden" name= "correo" id="correo" value="<%= empleado.CorreoEmpleado %>">
                      <button type="button" class="btn btn-light btn-lg" data-bs-toggle="modal" data-bs-target="#eliminarcatModal<%= empleado.CorreoEmpleado %>"><i class="bi-trash-fill"></i></button>
                      <div class="modal fade" id="eliminarcatModal<%= empleado.CorreoEmpleado %>" tabindex="-1" aria-labelledby="eliminarcatModalLabel<%= empleado.CorreoEmpleado %>" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="eliminarcatModalLabel<%= empleado.CorreoEmpleado %>">Eliminar al empleado <%=empleado.Nombre %></h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              ¿Estás seguro de que deseas eliminar al empleado?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                              <button type="submit" class="btn btn-danger">Eliminar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                  </form>
                  <% } %>

                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
        




          <div class="row justify-content-end">

            <nav class="col" aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="/personal?page=1" aria-label="First">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <% const startPage = Math.max(1, currentPage - 1); %>
                <% const endPage = Math.min(startPage + 2, totalPages); %>
                <% for (let i = startPage; i <= endPage; i++) { %>
                  <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                    <a class="page-link" href="/personal?page=<%= i %>"><%= i %></a>
                  </li>
                <% } %>
                <li class="page-item">
                  <a class="page-link" href="/personal?page=<%= totalPages %>" aria-label="Last">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>

            <div class="col-auto">
              <a href="/permisos" class="btn btn-success">Administrar roles</a>
            </div>
            
            <div class="col-auto">
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Agregar personal
            </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar personal</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                    <div class="modal-body">
                    <form class="login-form rounded-5" action="/personal" method="POST" onsubmit="return validateForm()">
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                      
                      <label class="form-text text-center " for="nombre">Nombre</label>
                      <input class="form-control" type="text" id="nombre" name="nombre" required maxlength="100">
                      
                        <label class="form-text text-center " for="correoForm">Correo</label>
                        <input class="form-control" type="email" id="correoForm" name="correoForm" required maxlength="100">
                      
                      <label class="form-text text-center " for="password">Contraseña (Debe contener mínimo 8 caracteres, 1 mayúscula, 1 caracter especial [@$!#%*?&¿/] y 1 número)</label>
                      <div class="input-group mb-3">
                          <input class="form-control" type="password" id="password" name="password" required maxlength="100">
                          <button class="btn btn-outline-secondary btn-lg"  type="button" id="button-addon1" onclick="seePassword('password')">
                            <i class="fa-solid fa-eye"></i>
                          </button>
                      </div>

                      <label class="form-text text-center " for="passwordRepeat">Confirma la contraseña</label>
                      <div class="input-group mb-3">
                      <input class="form-control" type="password" id="passwordRepeat" name="passwordRepeat" required maxlength="100">
                          <button class="btn btn-outline-secondary btn-lg"  type="button" id="button-addon1" onclick="seePassword('passwordRepeat')">
                            <i class="fa-solid fa-eye"></i>
                        </button>
                      </div>

                      <label class="form-text text-center " for="rol">Selecciona el rol del empleado:</label>
                      <select class="form-select" aria-label="Default select example" name="rol" id="rol" required>
                      <option hidden selected value>Rol...</option>
                      <% 
                      // Iterar sobre los roles para crear las opciones
                      for(rol of totalRoles) {
                        if(rol.IDRol != 0){
                      %>
                      <option value="<%=rol.IDRol%>"><%=rol.Descripcion%></option>
                      <% } %>
                      <% } %>
                      </select>
                      
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" id="addButton">Registrar empleado</button> 
                    </form>
                  </div>
                </div>
              </div>
            </div>
            </div>

        </div>

        

      </div>
    </div>
   </div>
  </div>



  <!-- Script barra de busqueda -->
  <script>
    const accion_asincrona = () => {
        console.log('Buscando...');
        const valor_busqueda = document.getElementById('buscar').value;
        //función que manda la petición asíncrona
        fetch('/personal/buscar/' + valor_busqueda, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            }
        }).then((result) => {
            return result.json(); //Regresa otra promesa
        }).then((data) => {

        let html = '';

        html += `
        <table class="table table-hover border border-dark">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Rol</th>
                <th>Fecha de asignación</th>
                <th>Modificar rol</th>
                <th>Eliminar</th>
              </tr>
            </thead>
            
            <tbody>
              `;
        
        
        for (let empleado of data.personal) {
          

            html += `
              <tr data-bs-toggle="collapse" data-bs-target="#row1" aria-expanded="false" aria-controls="row1">
                <td> ${empleado.Nombre} </td>
                <td> ${empleado.CorreoEmpleado} </td>
                <td> ${empleado.Rol} </td>
                <td> ${empleado.fechaAsignacion} </td>
                <td>
                  `;
                  if(empleado.CorreoEmpleado != data.correo) {
                    html += `
                    <form class="login-form rounded-5" action="/personal/modify" method="POST" name="formBorrar">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <select class="form-select-sm" id="rol" name="rol">
                          <option hidden disabled selected value required>Modificar rol</option>
                          <% 
                          // Iterar sobre los roles para crear las opciones
                          for(rol of totalRoles) {
                            if(rol.IDRol != 0){
                          %>
                            <option value="<%=rol.IDRol%>"><%=rol.Descripcion%></option>
                          <% } %>
                          <% } %>
                        </select>
                        <input type="hidden" name= "correo" id="correo" value="${empleado.CorreoEmpleado}">
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#modificarcatModal${empleado.CorreoEmpleado}">Guardar</button>
                        <div class="modal fade" id="modificarcatModal${empleado.CorreoEmpleado}" tabindex="-1" aria-labelledby="modificarcatModalLabel${empleado.CorreoEmpleado}" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="modificarcatModalLabel${empleado.CorreoEmpleado}">Modificar rol al empleado ${empleado.Nombre}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                ¿Estás seguro de que deseas modificar el rol del empleado?
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-danger">Modificar</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </form>
                  `;
                    }
                    html += `
                </td>
                <td>
                  `;
                  if(empleado.CorreoEmpleado != data.correo) {
                    html += `
                    <form class="login-form rounded-5" action="/personal/delete" method="POST" name="formBorrar">
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                      <input type="hidden" name= "correo" id="correo" value="${empleado.CorreoEmpleado}">
                      <button type="button" class="btn btn-light btn-lg" data-bs-toggle="modal" data-bs-target="#eliminarcatModal${empleado.CorreoEmpleado}"><i class="bi-trash-fill"></i></button>
                      <div class="modal fade" id="eliminarcatModal${empleado.CorreoEmpleado}" tabindex="-1" aria-labelledby="eliminarcatModalLabel${empleado.CorreoEmpleado}" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="eliminarcatModalLabel${empleado.CorreoEmpleado}">Eliminar al empleado ${empleado.Nombre}</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              ¿Estás seguro de que deseas eliminar al empleado?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                              <button type="submit" class="btn btn-danger">Eliminar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    `;
                    }
                    html += `
                  </form>
                </td>
          `;
        }
        html+=`
        </tbody>
          
        </table>
        `;
       
            //Modificamos el DOM de nuestra página de acuerdo a los datos de la segunda promesa
            //...
            document.getElementById('respuesta_ajax').innerHTML = html;

        }).catch(err => {
            console.log(err);
        });
    };
    document.getElementById('buscar').onkeyup = accion_asincrona;
    </script>
    
<%- include('includes/sidebar.ejs') %>
<script src="https://kit.fontawesome.com/c5614e6e6c.js" crossorigin="anonymous"></script>              
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>
  function enable(){
    document.getElementById('search').removeAttribute("disabled");
  }


  function seePassword(id) {
    let x = document.getElementById(id);
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }

  function validateForm() {
    // VERIFICAR QUE EL CORREO SEA VALIDO
    let correoForm = document.getElementById('correoForm').value;
    let correoRegex = /^[a-zA-Z0-9@$!%*?&¿/.]+@[a-zA-Z0-9]+\.[a-zA-Z]{2,}$/;
    if (!correoRegex.test(correoForm)) {
      alert("Correo invalido. Por favor, ingrese un correo válido.");
      return false;
    }
    // VERIFICAR QUE LA CONTRASEÑA SEA VALIDA
    let password = document.getElementById('password').value;
  if (password.length < 8) {
    alert('La contraseña debe tener al menos 8 caracteres.');
    return false;
  }
  if (!/[0-9]/.test(password)) {
    alert('La contraseña debe contener al menos un número.');
    return false;
  }
  if (!/[a-z]/.test(password)) {
    alert('La contraseña debe contener al menos una letra minúscula.');
    return false;
  }
  if (!/[A-Z]/.test(password)) {
    alert('La contraseña debe contener al menos una letra mayúscula.');
    return false;
  }
  if (!/[@$!#%*?&¿/]/.test(password)) {
    alert('La contraseña debe contener al menos un carácter especial [@$!#%*?&¿/].');
    return false;
  }

  var passwordRepeat = document.getElementById("passwordRepeat").value;
  if (password != passwordRepeat) {
        alert("Las contraseñas no coinciden.");
        return false;
  }

  return true;
}
</script>



</body>
</html>
