<%- include('includes/head.ejs', {permisos: permisos}) %>
<%- include('includes/header.ejs') %>

<div class="container-fluid main-content pb-5">
  <div class="row justify-content-center">
    <div class="col-md-9"> 
      <div class="container mt-5">
        <div class="row align-items-center">
          <div class="col-md-auto align-self-start">
            <h2 class="text-center mb-0"><%= marca.toUpperCase() %></h2>
            <br>
            <h5 class="text-center mb-0"> Hola ! Aqui va nombre</h5>
            <br>
            <% preguntas.forEach(function(pregunta) { %>
              <div class="mb-3">
                <% if(pregunta.TipoPregunta === 'Abierta') { %>
                  <label class="form-label"><%= pregunta.Pregunta %></label>
                  <input type="text" class="form-control">
                <% } else if(pregunta.TipoPregunta === 'Checkbox') { %>
                  <label class="form-label"><%= pregunta.Pregunta %></label>
                  <% pregunta.opciones.forEach(function(opcion) { %>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="checkbox<%= opcion.id %>">
                      <label class="form-check-label" for="checkbox<%= opcion.id %>">
                        <%= opcion.texto %>
                      </label>
                    </div>
                  <% }) %>
                <% } else if(pregunta.TipoPregunta === 'OpcionMultiple') { %>
                  <label class="form-label"><%= pregunta.Pregunta %></label>
                  <% pregunta.opciones.forEach(function(opcion) { %>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="radio<%= pregunta.IDPreguntas %>" id="radio<%= opcion.id %>" value="<%= opcion.id %>">
                      <label class="form-check-label" for="radio<%= opcion.id %>">
                        <%= opcion.texto %>
                      </label>
                    </div>
                  <% }) %>
                <% } else if(pregunta.TipoPregunta === 'Archivo') { %>
                  <label class="form-label"><%= pregunta.Pregunta %></label>
                  <input class="form-control" type="file" id="formFileDisabled">
                <% } else if(pregunta.TipoPregunta === 'Rango') { %>
                  <label for="customRange<%= pregunta.IDPreguntas %>" class="form-label"><%= pregunta.Pregunta %></label>
                  <input type="range" class="form-range" min="1" max="5" step="1" id="customRange<%= pregunta.IDPreguntas %>">
                <% } %>
              </div>
            <% }) %>
            <button type="button" class="btn btn-primary boton-enviar">Enviar</button>
            <!-- El botón Enviar se mantiene aquí, alineado con las preguntas -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Barra de herramientas fija en la parte inferior -->
<div class="fixed-bottom bg-light border-top py-3 my-1">
  <div class="container">
    <div class="d-flex justify-content-between">
      <a href="/encuestas/<%= marca %>/<%= categoria %>" class="btn btn-outline-dark">Regresar a <%= categoria %> <i class="bi bi-arrow-90deg-left"></i></a>
    </div>
  </div>
</div>

<!-- Barra lateral -->
<%- include('includes/sidebar.ejs') %>
<script src="/js/encuesta.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/c5614e6e6c.js" crossorigin="anonymous"></script>
</body>
</html>
